.loginsignup {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	padding: 20px;
}
.loginsignup_input {
	width: 90%;
	height: 48px;
	padding-left: 10px;
	margin: 10px;
}
.loginsignup_button {
	background-color: rgb(248, 47, 98);
	color: rgb(255, 255, 255);
	font-weight: 700;
	width: 100%;
	border-radius: 40px;
	height: 48px;
	margin-top: 10px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 100px;
	color: #6495ed;
}
.title {
	width: 100%;
	background-color: #6495ed;
	color: white;
	text-align: center;
}
.userlist li {
	font-weight: bold;
	padding-bottom: 10px;
}
.userlist button {
	border-radius: 15px;
	padding: 2px 7px;
	background-color: rgb(248, 47, 98);
	color: white;
	margin-left: 5px;
}
